<% if @bookdetail.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@bookdetail.errors.count, "error") %>.
    </div>
    <ul>
    <% @bookdetail.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>