var $tbody, button_element, rental_available_at, $rental_data ="", table_row_id, row_number;

book_detail_id = <%= params[:book_detail_id] %>
$table = $("<table>")
sub_table_id = "sub_book_status_table_" + book_detail_id
sub_table_id_s = "#" + sub_table_id
tr_id = "book_count_status_" + book_detail_id

$(sub_table_id_s).remove()

<% #TODO: add table expand retract (toggle) %>

$final_table ="<tr id='" + tr_id + "'><td colspan='5'><table id='" + sub_table_id + "'class='table table-hover table-condensed table-bordered'>"
$table_ending = "</table></td></tr>"
$table_header = "<tr id='sub_search_results_table_header'><th>Available</th><th>Borrowed</th></tr>"
$status_row = "<tr><td id='available_" + book_detail_id + "'><%= @available %></td><td id='borrowed_" + book_detail_id + "'><%= @borrowed %></tr>"
$final_table = $final_table + $table_header + $status_row + $table_ending


$("#bookdetail_table tr").eq(<%= params[:row_number] %>).after($final_table);
