<h4> User Info </h4>
<table class="table table-striped table-bordered table-condensed">
	<tr>
		<th>User Id</th>
		<th>Registered Email</th>
		<th>Priveleges</th>
	</tr>


	<tr>
		<td><%= @user.id %></td>
		<td><%= @user.email %></td>
		<td><%= @user.checkrole %></td>
	</tr>

</table>
