<h1>Admin Page</h1>

<ul>
	<%= link_to "View Users", admin_view_path, :action => "view", class: "btn btn-small "%>
	<%= link_to "Edit Users", admin_edit_path, :action => "edit", class: "btn btn-small "%>
	<%= link_to "Set Permissions", "#", :action => "permissions", class: "btn btn-small "%>
</ul>
