
<ul class="nav nav-pills">
  <li class="active"><%= link_to "User Management", admin_view_path %></li>
  <li ><%= link_to "User Info", admin_view_path %></li>
  <li ><%= link_to "Edit Users", "#{}" %></li>
</ul>