<div id="">
  <%= text_area_tag :chat_box, nil, :disabled => true, :cols => 20, :rows => 10 %></br>
  <%= text_field_tag :chat_text, nil, :placeholder => "Enter text here" %></br>
  <%= tag "input", :type => "button", :id => "chat_send", :class => "btn" , :value => "Send" %></br>
</div>
