<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email%>,</h1>
    <p>
      Your request for has been accepted.</br>
      Please<%= link_to "Login ", "pacific-shore-7990.herokuapp.com" %>to check the status.
    </p>
    <p>
      Regards,</br>
      ProjectLectito Team
    </p>
  </body>
</html>