<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5>Hi <%= @user.welcome_name%>,</h5></br>
    <p>
      Your request for has been accepted.</br>
      Please<%= link_to " Login ", "stormy-spire-3896.herokuapp.com" %>to check the status.
    </p>
    <p>
      Regards,</br>
      ProjectLectito Team
    </p>
  </body>
</html>