<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5>Hi <%= @user.welcome_name %>,</h5></br>
    <p>
      You have a new Borrow Request
    </br></br>
      Please <%= link_to ' Login ', 'stormy-spire-3896.herokuapp.com' %> to process it!
    </p>
    <p>
      Regards,</br>
      ProjectLectito
    </p>
  </body>
</html>