<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5>Hi <%= @user.email %>,</h5>
    <p>
      You have a new Borrow Request! 
    </br>
      Please <%= link_to "Login", "pacific-shore-7990.herokuapp.com" %> to process it!
    </p>
    <p>
      Regards,</br>
      ProjectLectito
    </p>
  </body>
</html>