<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email%>,</h1>
    <p>
      You have a new Borrow Request! Please <%= link_to "Login", home_path %> to process it!
    </p>
    <p>
      Regards,
      ProjectLectito Team
    </p>
  </body>
</html>