// Place all the styles related to the address controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-nonfluid {
   width: 200px;
}

.custom-table td {	
	padding:10px;
	text-align:center;
	border-spacing: 0;
}

.table-bordered {
   border-spacing: 0;
}

#address_address_line1 {
    resize: none;
}

// Centralizing the td
#address_index_table {
  td{
    text-align: center;
  }
}
