// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.dataTable tfoot th{
	
	border-top: 1px solid black;
    font-weight: bold;
    width: auto;
}

.search_init1 th {
	width: 10px !important;
}