// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.searchid{
	width:60px;
}

.searchtable{
	width:120px;
}

// User Transaction History Table SearchBox lengths
// Colns not specified are in book.css from Book History table

#search_rating{
	width:60px;
}

#search_lb{
	width:120px;
}

#search_book_name{
	width:250px;
}
