/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.all
 *= require_self
 *= require dataTables/jquery.dataTables
 *= require_tree .
 */

@import "bootstrap";

// body { padding-top: 60px; }

// Form Padding for form elements
.form_padding {
    select, input, a, textarea, label {
        margin-bottom: 10px;
    }
}

// Site wide text areas made non resizable
textarea {
    resize: none;
}

// Wrapper Class for Pushing Footer to the bottom
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

// Footer Class
.footer, .push {
    height: 4em;
}

// Custom Navbar from TWBSColor

$bgDefault      : #2b3e50;
$bgHighlight    : #fafafa;
$colDefault     : #faffff;
$colHighlight   : #96ccff;

.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHighlight;
        }
    }
    .navbar-text {
        color: $colDefault;
    }
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover,  &:focus {
                    color: $colHighlight;
                }
            }
        }
        > .active {
            > a, > a:hover, > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
        > .open {
            > a, > a:hover, > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
    }
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight;
        }
        .icon-bar {
            background-color: $colDefault;
        }
    }
    .navbar-collapse,
    .navbar-form {
        border-color: $colDefault;
    }
    .navbar-link {
        color: $colDefault;
        &:hover {
            color: $colHighlight;
        }
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
            color: $colDefault;
            &:hover, &:focus {
                color: $colHighlight;
            }
        }
        > .active {
            > a, > a:hover, > a:focus, {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
    }
}