// Place all the styles related to the book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search_id{
	width:35px;
}


#search_lender{
	width:100px;
}

#search_borrower{
	width:100px;
}


#search_req_date{
	width:150px;
}


#search_b_duration{
	width:62px;
}

#search_t_duration{
	width:60px;
}