// Place all the styles related to the devise controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rounded-corners {
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  border-radius: 10px; /* universal */
}

// search background
.sbg{
  background-color: rgba(175, 165, 165, 0.05);
  padding-left: 60px;
  padding-bottom: 15px;
  padding-top: 15px;
}


// Sign In modal
.sign_in_modal{
  padding-bottom: 15px;
}

// Social Media Login
.sml{
  padding-top: 5px;
  }

// Forgot Password Link
.fplink{
  font-size: 70%;
}


//Footer Padding
.footer_padding{
  padding-top: 6px;
}

//form_elements_padding
.form_elements_padding{
  padding-bottom: 10px;
}
