// Place all the styles related to the devise controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rounded-corners {
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  border-radius: 10px; /* universal */
}

// Front page search bg
.frontpagesb {
  border-color: #96ccff;
  border-width: thin;
  border-style: solid;
  box-shadow: 0 0 10px #96ccff;
}

// search background
.sbg {
  background-color: #F7F7F7;
  padding-left: 60px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.cbg {
  background-color: #F7F7F7;
}

// Sign Up Text in Search Result Pop up (when offline) text white
#sign_in_or_sign_up {
  .col-md-offset-3 {
    a {
      color: #ffffff;
    }
  }
}

.steps_border {
  border-right: 2px solid grey;
  height: 250px;
}

.uf {
  font-family: 'Ubuntu', sans-serif;
  font-size: x-large;
}

// Sign In modal
.sign_in_modal {
  padding-bottom: 15px;
}

// Social Media Login
.sml {
  padding-top: 30px;
  }

// Forgot Password Link
.fplink {
  font-size: 70%;
}

//Footer Padding
.footer_padding {
  padding-top: 6px;
}

// Jumbotron Top Margin
.jtp {
  margin-top: 10px;
}

.signin_options {
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.verticalLine {
    border-left: thin solid grey;
    height: 120px;
    margin-top: 60px;
}

.vertical_divider {
  border-left: thin solid grey;
  height: 300px;
  margin-top: 20px;
}
