// Place all the styles related to the devise controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rounded-corners {
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  border-radius: 10px; /* universal */
}

// search background
.sbg{
  background-color: rgba(175, 165, 165, 0.05);
  padding-left: 60px;
  padding-bottom: 15px;
  padding-top: 15px;
}

// Sign Up Text in Search Result Pop up (when offline) text white
#sign_in_or_sign_up{
  .col-md-offset-3{
    a{
      color: #ffffff;
    }
  }
}
// Sign In modal
.sign_in_modal{
  padding-bottom: 15px;
}

// Social Media Login
.sml{
  padding-top: 14px;
  }

// Forgot Password Link
.fplink{
  font-size: 70%;
}

//Footer Padding
.footer_padding{
  padding-top: 6px;
}

// Jumbotron Top Margin
.jtp{
  margin-top: 10px;
}

