// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-widget-date { 
	position: relative !important;
    left: 560px !important;
    top: -190px !important;
 }

 .dob_class{
  width: auto;
 }

 .bold_list{
  font-weight:bold;
 }

 .padded_list{
  padding-top:15px;
  width: 300px;
 }
