<footer >
  <hr/>
    <div class='row'>
      <ul style='font-size:12px;'>
        <div class='col-lg-2 col-lg-offset-1'>
          <li>&copy; ProjectLectito 2013</li>
        </div>
        <div class='col-lg-2'>
          <li>Terms of Service</li>
        </div>
        <div class='col-lg-2'>
          <li>Privacy Policy</li>
        </div>
        <div class='col-lg-2'>
          <li>Contact Us</li>
        </div>
        <div class='col-lg-2'>
          <li>About Us</li>
        </div>
        <div class='col-lg-2 col-lg-offset-1'>
          <li>
            <%= image_tag('fb_icon.png', :size => '30x30') %>
            <%= image_tag('twitter_icon.png', :size => '30x30') %>
            <%= image_tag('gplus_icon.png', :size => '30x30') %>
          </li>
        </div>
      </ul>
    </div>
  <hr/>
</footer>