<footer >
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>
      <hr/>
        <ul style='font-size:12px;'>
        <div class='col-md-2 footer_padding'>
          <li>&copy; ProjectLectito 2013</li>
        </div>
        <div class='col-md-2 footer_padding'>
          <li >Terms of Service</li>
        </div>
        <div class='col-md-2 footer_padding'>
          <li>Privacy Policy</li>
        </div>
        <div class='col-md-2 footer_padding'>
          <li>Contact Us</li>
        </div>
        <div class='col-md-2 footer_padding'>
          <li>About Us</li>
        </div>
        <div class='col-md-2 '>
          <li>
            <%= image_tag('fb_icon.png', size: '30x30') %>
            <%= image_tag('twitter_icon.png', size: '30x30') %>
            <%= image_tag('gplus_icon.png', size: '30x30') %>
          </li>
        </div>
      </ul>
      <hr/><br/>
    </div>
  </div>
</footer>