<footer>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>
      <hr/>
        <ul style='font-size:12px;'>
        <div class='col-md-2 footer_padding'>
          <li>&copy; ProjectLectito 2013</li>
        </div>
        <div class='col-md-2 footer_padding'>
          <li >Terms of Service</li>
        </div>
        <div class='col-md-2 footer_padding'>
          <li>Privacy Policy</li>
        </div>
        <div class='col-md-2 footer_padding'>
          <li>Contact Us</li>
        </div>
        <div class='col-md-2 footer_padding'>
          <li>About Us</li>
        </div>
        <div class='col-md-2 '>
          <li>
            <i class="fa fa-facebook fa-2x"></i> 
            <i class="fa fa-twitter fa-2x"></i> 
            <i class="fa fa-google-plus fa-2x"></i> 
          </li>
        </div>
      </ul>
      <hr/><hr/>
    </div>
  </div>
</footer>